.form_wrapper {
    display: block;
    width: 600px;
    border: 4px double black; /* Параметры границы */
    background: #fc3; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    margin: 0;
}

.form_input{
    width: 100%;
}

.forms_wrapper{
    display: flex;
    justify-content: space-between;
}

.detail_wrapper{
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 1em 1em 0;
    margin: 10px;
}

details[open] {
    padding: 1em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

.summary_wrapper{
    font-weight: bold;
    margin: -1em -1em 0;
    padding: 0.5em;
}