.form_wrapper {
    display: block;
    width: 600px;
    /* Параметры границы */
    background: #d3d3d3; /* Цвет фона */
    border-radius: 10px;
    padding: 10px; /* Поля вокруг текста */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5)
}

.form_input {
    width: 100%;
    height: 30px;
    background: #F7F8FA;
    border: 1px solid #D3D9DE;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 6px;
}

.forms_wrapper {
    display: flex;
    justify-content: space-between;
}

.detail_wrapper {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 1em 1em 0;
    margin: 10px;
}

details[open] {
    padding: 1em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

.summary_wrapper {
    font-weight: bold;
    margin: -1em -1em 0;
    padding: 0.5em;
}


.scroll-table-body {
    height: 300px;
    overflow-x: auto;
    word-break: break-all;

}

.scroll-table table {
    width: 100%;
    table-layout: fixed;
    border: none;


}

.scroll-table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    background: #C0C0C0;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    word-break: break-all;



}

.scroll-table tbody td {
    text-align: left;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
    background: #F7F8FA;
    border-radius: 3px;
}

/* Стили для скролла таблицы*/
.scroll-table-body::-webkit-scrollbar {
    width: 6px;
}

.scroll-table-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll-table-body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.title_form {
    font-size: 20px;
    font-style: italic;
}

.title_field {
    font-size: 16px;
    font-weight: bold;
}

.select_form {
    height: 100px;
    width: 100%;
    background: #F7F8FA;
    border: 1px solid #D3D9DE;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 6px;
}

/* Стили для скролла селекта*/
.select_form::-webkit-scrollbar {
    width: 6px;
}

.select_form::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.select_form::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.textarea_form {
    resize: none;
    width: 100%;
    height: 100px;
    background: #F7F8FA;
    border: 1px solid #D3D9DE;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 6px;

}

/* Стили для скролла текстбокса*/
.textarea_form::-webkit-scrollbar {
    width: 6px;
}

.textarea_form::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.textarea_form::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.submit_button {
    width: 100px;
    height: 30px;
    background: #f6f5f5;
    border: 1px solid #D3D9DE;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 6px;



}
