.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Navigation {
  list-style: none;
  margin: 0;
  background: #d3d3d3;
  display: flex;
  justify-content: right;
  padding-right: 100px;
}

.nav-list{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #b19891;
}

.nav-ref{
  font-size: 26px;
  text-decoration: none;
  font-family: Arial, serif;
  color: black;
}




