.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Navigation {
  list-style: none;
  margin: 0;
  background: #d3d3d3;
  display: flex;
  justify-content: right;
  padding-right: 70px;
  height: 60px;
}

.nav-list{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;

}

.nav-ref{
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.nav-ref:hover{
  font-size: 18px;
  text-decoration: none;
  color: #F7F8FA;
}




